.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}
.main{
  background-image: url("images/bg-intro-desktop.png");
  background-color: hsl(0, 100%, 74%);
  padding: 120px 100px 100px;
}

/* Container 1 (Text on left of page) */


.container1{
  margin: 100px 20px 50px 0;
}

h1{
  font-size: 3.3rem;
  color: #fff;
  font-weight: 550;
}

.container1-p{
  color: #fff;
}

/* Container 2 (Form) */

.free-button{
  margin-bottom: 20px;
  background-color: hsl(228, 45%, 44%) ;
  color: hsl(246, 25%, 77%);
  border-style: outset;
  box-shadow: 0 8px 6px -3px #525252;
  pointer-events: none;
}

.free-button:hover{
  margin-bottom: 20px;
  background-color: hsl(228, 45%, 44%) ;
  color: hsl(246, 25%, 77%);
  border-style: outset;
  box-shadow: 0 8px 6px -3px #525252;
}

.try-line{
  color: #fff;
}

.card{
  padding: 10px ;
  border-style: outset;
  box-shadow: 0 8px 6px -3px #525252;
}

.form-fields{
  display: none;
}

.form-fields-onclick{
  font-size: 0.6em;
  text-align: right;
  color: hsl(0, 100%, 74%);
}

.input-buttons{
  background: url(images/icon-error.svg) no-repeat scroll right 10px top 5px ;
}

.claim-button{
  background-color: hsl(154, 59%, 51%);
  color: #fff;
  border-style: outset;
  font-weight: 600;
   box-shadow: 0 8px 6px -3px #525252;

}
.claim-button:hover{
  color: #fff;
  opacity: 0.7;
}

.last-div-p{
  font-size: 0.6rem;
  color: hsl(246, 25%, 77%);
  text-align: center;
  margin-top: 20px;
}

.terms{
  color: hsl(0, 100%, 74%);
}



Fixes: #2<issue no.>
